body
{
    font-family: 'Open Sans', sans-serif;
    width:70%;
    margin:0 auto;
    position: absolute;

}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@media only screen and (min-width: 700px) {
    .desktopmargin {
    margin:70px;
    }
    .categoryBox{
        height: 230px;
    }
}

@media only screen and (max-width: 600px) {
    .addCategory{
        margin:20px;
    }
}
hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }

    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.categoryBox div:hover,
.categoryBox div:active {
    background-color: lightblue;
    

}

.categoryBox {
    margin-left:25px;
}

.mygrid-wrapper-div {
    border: solid red 5px;
    overflow: auto;
    height: 200px;
}

.first-column {
background-color:#ECF0F1;
height:400px;
}

.margin-space {
    margin:40px;
}
.image-width-height {
    width:50px;
    height:50px;     
}

.hide {
    display: none;
}
.category-font {
    font-size:25px;
    font-weight:bold;
}

.category-top {
   margin-top: 45px;
}
.pull-left {
    float:left;
}
.pull-right {
    float:left;
}
.right-section {
    background-color:lightgray;
    height:400px;
}
.addTask {
    background-color:#F7F9F9;
    height:70px;
    padding:30px
}

.clearButton {
    margin-left:20px
}

.bold-fornt-weight {
font-weight:bold
}
.tasktable {
    background-color:white;height:250px;border:solid 1px
}



